*
!.gitignore
!*/
!**/.gitkeep
!properties/*.jpg
!properties/*.jpeg
!properties/*.png
!properties/*.webp
!avatars/*.jpg
!avatars/*.jpeg
!locations/*.jpg
!locations/*.jpeg
!agents/*.jpg
!agents/*.jpeg
!users/*.jpg
!users/*.jpeg
!projects/*.jpg
!projects/*.jpeg
!posts/*.jpg
!posts/*.jpeg
!partners/*.jpg
!partners/*.jpeg
!pages/*.jpg
!pages/*.jpeg
